<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="global.sesoc.Youtube.dao.DubbingMapper">
	<insert id="insertDubbing" parameterType="Dubbing">
	insert into dubbing
	(
	dubbingnum,
	title,
	content,
    useremail,
    url,
    voiceFile
	)
	values
	(
	DUBBING_SEQ.nextval,
	#{title},
	#{content},
	#{useremail},
	#{url},
	#{voiceFile}
	)
	
	</insert>
</mapper>