<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.Youtube.dao.DubbingMapper">
	<insert id="insertDubbing" parameterType="Dubbing">
		insert into dubbing (
			dubbingnum,
			title,
			content,
	    	useremail,
	    	url,
	    	voiceFile
		)values(
			DUBBING_SEQ.nextval
			, #{title}
			, #{content}
			, #{useremail}
			, #{url}
			, #{voiceFile}
		)
	</insert>

	<select id="dubbingBoard"  resultType="Dubbing">
		select 
			d.dubbingnum
			, d.title
			, m.usernick
			, d.hitcount
			, d.recommendation
			, d.decommendation
			, d.regdate
		from 
			dubbing d, member m
		where 
			d.useremail = m.useremail
		order by 
			d.dubbingnum desc
	</select>

	<select id="selectOneDub" parameterType="int" resultType="Dubbing">
		select
			d.dubbingnum
			, d.title
			, m.usernick
			, d.content
			, d.url
			, d.voiceFile
			, d.hitcount
			, d.recommendation
			, d.decommendation
			, d.regdate
		from 
			dubbing d, member m
		where 
			d.useremail = m.useremail
		and 
			d.dubbingnum = #{dubbingnum}
	</select>
</mapper>