<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="global.sesoc.Youtube.dao.DubbingMapper">
	<insert id="insertDubbing" parameterType="Dubbing">
		insert into dubbing (
			dubbingnum,
			title,
			content,
	    	useremail,
	    	url,
	    	voiceFile,
	    	starttime,
	    	endtime
		) values(
			DUBBING_SEQ.nextval
			, #{title}
			, #{content}
			, #{useremail}
			, #{url}
			, #{voiceFile}
			, #{starttime}
			, #{endtime}
		)
	</insert>
	
	<select id="dubbingBoard"  resultType="Dubbing">
		select 
			d.dubbingnum
			, d.title
			, d.useremail
			, m.usernick
			, d.hitcount
			, d.recommendation
			, d.decommendation
			, d.regdate
		from 
			dubbing d, member m
		where 
			d.useremail = m.useremail
		order by 
			d.dubbingnum desc
	</select>

	<select id="selectOneDub" parameterType="int" resultType="Dubbing">
		select
			d.dubbingnum
			, d.title
			, d.useremail
			, m.usernick
			, d.content
			, d.url
			, d.voiceFile
			, d.hitcount
			, d.recommendation
			, d.decommendation
			, d.regdate
			, d.starttime
			, d.endtime
		from 
			dubbing d, member m
		where 
			d.useremail = m.useremail
		and 
			d.dubbingnum = #{dubbingnum}
	</select>
	
	<select id="replyDubAll" parameterType="int" resultType="Reply">
		select
			d.replynum
			, d.dubbingnum idnum
			, d.useremail
			, d.content
			, d.regDate
			, d.blackCount
			, m.usernick
		from 
			dubbingreply d, member m
		where
			dubbingnum = #{dubbingnum}
		and
			d.useremail =m.useremail
	</select>
	
	<delete id="replyDubDelete" parameterType="int">
		delete from
			dubbingreply
		where
			replynum = #{replynum}
	</delete> 
	
	
	<update id="replyDubUpdate" parameterType="Reply">
		update 
			dubbingreply
		set
			content = #{content}
			, regdate = sysdate
		where
			replynum = #{replynum}
	</update>
	
	<delete id="replysDelete" parameterType="Reply">
	delete from dubbingreply
	where useremail=#{useremail}
	and dubbingnum=#{idnum}
	
	
	</delete>
	
	<delete id="deleteDubbing" parameterType="Dubbing">
	delete from dubbing
	where dubbingnum=#{dubbingnum}
	
	</delete>
</mapper>