<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="global.sesoc.Youtube.dao.InvestigationMapper">
	<select resultType="int" parameterType="map" id="getTotalCount">
		select
			count(*)
		from
			investigation
		where
			${searchType} like '%' || #{searchWord} || '%' 
	</select>

	<select resultType="Investigation" parameterType="map" id="selectInvList">
		select
			investigationnum
			, url
			, title
			, content
			, useremail
			, to_char(regdate, 'YYYY-MM-DD') regdate
			, hitcount
			, recommendation
			, decommendation
		from
			investigation
		where
			${searchType} like '%' || #{searchWord} || '%'
	</select>
	
	<insert parameterType="Investigation" id="insertInvestigation">
		insert into investigation (
			investigationnum
			, url
			, title
			, content
			, useremail
		)values(
			INVESTIGATION_SEQ.nextval
			, #{url}
			, #{title}
			, #{content
			, jdbcType=VARCHAR}
			, #{useremail}
		) 
	</insert>
	
	<select resultType="Investigation" parameterType="Investigation" id="selectOneFromInvUseURL">
		select
			investigationnum
			, url
			, title
			, content
			, useremail
			, to_char(regdate, 'YYYY-MM-DD') regdate
			, hitcount
			, recommendation
			, decommendation
		from
			investigation
		where
			url = #{url} 
	</select>
	
	<select resultType="Investigation" parameterType="int" id="selectOneFromInvUseNum">
		select
			investigationnum
			, url
			, title
			, content
			, useremail
			, to_char(regdate, 'YYYY-MM-DD') regdate
			, hitcount
			, recommendation
			, decommendation
		from
			investigation
		where
			investigationnum = #{investigationnum} 
	</select>
	
	<update parameterType="int" id="updateHitCount">
		update
			investigation
		set
			hitcount = hitcount+1
		where
			investigationnum = #{investigationnum}
	</update>
	
	<select id="replyAllFromInv" parameterType="int" resultType="Reply">
		select
			i.replynum
			, i.investigationnum idnum
			, i.useremail
			, i.content
			, i.regDate
			, i.blackCount
			, m.usernick
		from 
			InvestigationReply i, member m
		where
			investigationnum = #{investigationnum}
		and
			i.useremail =m.useremail
	</select>
	
	<insert id="insertReplyToInv" parameterType="Reply">
		insert into investigationreply (
			replynum
			, investigationnum
			, useremail
			, content
		)values(
			INVESTIGATION_REPLY_SEQ.nextval
			, #{idnum}
			, #{useremail}
			, #{content}
		)
	</insert>
	
	<update id="replyInvUpdate" parameterType="Reply">
		update 
			investigationreply
		set
			content = #{content}
			, regdate = sysdate
		where
			replynum = #{replynum}
	</update>
	
	<delete id="replyInvDelete" parameterType="int">
		delete from
			investigationreply
		where
			replynum = #{replynum}
	</delete>
	
	<insert id="insertInvSubtitle" parameterType="InvSubtitle">
		insert into InvestigationSubtitle (
			subtitlenum
			, subtitleName
			, originalFile
			, savedFile
			, useremail
			, investigationnum
		)values(
			INVESTIGATION_SUBTITLE_SEQ.nextval
			, #{subtitleName}
			, #{originalFile}
			, #{savedFile}
			, #{useremail}
			, #{investigationnum}
		)
	</insert>
</mapper>