<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.Youtube.dao.WishMapper">

	<!-- 영상, 자막, 더빙 위시리스트 데이터 수 세기 -->
	<select id="getTotalCount1" parameterType="map" resultType="int">
		select
			count(*)
		from
			WishList
		where
			${searchType} like '%' || #{searchWord} || '%'
	</select>
	
	<!-- 영상, 자막, 더빙 위시리스트 조회 -->
	<select id="getAllWishList" parameterType="map" resultType="WishList">
		select 
			*
		from
			WishList w
			<if test="wishtable == 0">
				, educationvideo e
			</if>
			<if test="wishtable == 1">
				, dubbing d
			</if>
			<if test="wishtable == 2">
				, investigation i
			</if>
		where
			useremail = #{useremail}
			<if test="wishtable == 0">
			and 
				w.identificationnum = e.videonum
			</if>
			<if test="wishtable == 1">
			and 
				w.identificationnum = d.dubbingnum
			</if>
			<if test="wishtable == 2">
			and 
				w.identificationnum = i.investigationnum
			</if>
	</select>
	
		<!-- 영상, 자막, 더빙 위시리스트에서 선택하기 -->
	<select id="selectOneFromWishList" parameterType="WishList" resultType="WishList">
		select 
			rownum as rownum
			, wishtable
			, identificationnum
			, useremail
			, url
			, title
			, to_char(regdate, 'YYYY-MM-DD') regdate
		from
			wishlist
		where
			wishtable=${wishtable}		
		<!-- <if test="wishtable == 0">
			wishtable = 0
		</if>
		<if test="wishtable == 1">
			wishtable = 1
		</if>	
		<if test="wishtable == 2">
			wishtable = 2
		</if>		 -->
		and
			identificationnum = #{identificationnum}
		and
			useremail = #{useremail}
	</select>
	
		
	
	
	<!-- 영상, 자막, 더빙 위시리스트 삭제 -->
	<delete id="deleteWish" parameterType="string">
		delete from
			wishlist
		where
			title = #{title}
		and
			useremail = #{useremail}
	</delete>
	
	<!-- 영상 위시리스트 등록 -->	
	<insert id="insertVideoWish" parameterType="WishList">
		insert into wishlist(
			wishtable	
			, useremail
			, identificationnum
			, title
			, url		
		)values(
			#{wishtable}	
			, #{useremail}
			, #{identificationnum}
			, #{title}
			, #{url}
		)		
	</insert>
	
	<!-- 자막 위시리스트 등록 -->
	<insert id="insertSubWish" parameterType="WishList">
		insert into wishlist(
			wishtable	
			, useremail
			, identificationnum
			, title
			, url		
		)values(
			#{wishtable}	
			, #{useremail}
			, #{identificationnum}
			, #{title}
			, #{url}
		)		
	</insert>

	<!-- 더빙 위시리스트 등록 -->
	<insert id="insertDubWish" parameterType="WishList">
		insert into wishlist(
			wishtable	
			, useremail
			, identificationnum
			, title
			, url		
		)values(
			#{wishtable}	
			, #{useremail}
			, #{identificationnum}
			, #{title}
			, #{url}
		)		
	</insert>
	
</mapper>