<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
    	<typeAlias type="global.sesoc.Youtube.dto.Reply" alias="Reply"/> 
		<typeAlias type="global.sesoc.Youtube.dto.Video" alias="Video"/>
		<typeAlias type="global.sesoc.Youtube.dto.Member" alias="Member"/>
		<typeAlias type="global.sesoc.Youtube.dto.Dubbing" alias="Dubbing"/>
		<typeAlias type="global.sesoc.Youtube.dto.WishList" alias="WishList"/>
		<typeAlias type="global.sesoc.Youtube.dto.Education" alias="Education"/>
		<typeAlias type="global.sesoc.Youtube.dto.TestResult" alias="TestResult"/>
		<typeAlias type="global.sesoc.Youtube.dto.WrongAnswer" alias="WrongAnswer"/>
		<typeAlias type="global.sesoc.Youtube.dto.InvSubtitle" alias="InvSubtitle"/>
		<typeAlias type="global.sesoc.Youtube.dto.Investigation" alias="Investigation"/>
		<typeAlias type="global.sesoc.Youtube.dto.Recommendation" alias="Recommendation"/>
		<typeAlias type="global.sesoc.Youtube.dto.Black" alias="Black"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/memberMapper.xml"/>
		<mapper resource="mappers/dubbingMapper.xml"/>
		<mapper resource="mappers/educationMapper.xml"/>
		<mapper resource="mappers/InvestigationMapper.xml"/>
	</mappers>
</configuration>