<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="global.sesoc.Youtube.dto.Member" alias="Member"/>
		<typeAlias type="global.sesoc.Youtube.dto.Education" alias="Education"/>
		<typeAlias type="global.sesoc.Youtube.dto.Video" alias="Video"/>
		<typeAlias type="global.sesoc.Youtube.dto.TestResult" alias="TestResult"/>
		<typeAlias type="global.sesoc.Youtube.dto.Recommendation" alias="Recommendation"/>
		<typeAlias type="global.sesoc.Youtube.dto.WishList" alias="WishList"/>

	</typeAliases>

	<mappers>
		<mapper resource="mappers/memberMapper.xml"/>
		<mapper resource="mappers/educationMapper.xml"/>
	</mappers>
</configuration>